body {
    background: #CCC;
}

#title, .subtitle, .post_title {
    color: blue;
}

.post_title {
    font-size: 16px;
    font-style: italic;
}

.post {
    background: #FFF;
    padding: 10px;
    border: 3px solid color #000;
}