body {
    padding-top: 15px;
    background: #f7f7f7;
    font-family: 'Dosis', sans-serif;
    max-width: 960px;
    margin: auto;
    
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #e6e6e6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}

.active {
    background-color: rgb(238, 164, 27);
    
}


#title, .subtitle, .post_title {
    color: rgb(17, 17, 53);
    padding-left: 15px;
    
}

#title {
    float: left;
    padding-left: 15px;
}

.photo {
    width: 100px;
    border-radius: 100%;
    padding-left: 15px;
    padding-bottom: 15px;
}

.contacts_list {
    list-style-type: none;
    padding-left: 15px;
}

.contacts_list li a {
    text-decoration: none;
    text-align: center;
}

.post_title {
    font-size: 18px;
    margin: 0;
    margin-bottom: 15px;
    
}

.post {
    background: #FFF;
    width: auto;
    padding: 15px;
    margin-bottom: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-align: justify;
    
}

.post_img {
    margin-bottom: 15px;
    width: 100%;
    height: auto;
}